{% extends 'layouts/offline.html.twig' %}
{% block content %}

{{ form(registerForm) }}
    <p>Déja inscrit ? <a class="text-primary" href="{{ url('app_login') }}">Se connecter</a></p>
    <div>
        < <a href="{{ url('home') }}">Retour à l'accueil</a>
    </div>
{% endblock content %}