{% extends "layouts/user.html.twig" %}
 {% block content %}
     <div class="container-fluid">
         <div class="row">
             <div class="col-lg-12">
                 <div class="card">
                     <div class="card-header">
                         <h4 class="card-title">Liste des jeux</h4>
                     </div>
                     <div class="card-body">
                         <p>Pas dans la liste ? <a class="text-primary" href="{{ url('addGame') }}">Ajoutez-le !</a></p>
                         <div class="table-responsive">
                             <table class="table table-responsive-sm">
                                 <thead>
                                 <tr>
                                     <th>Name</th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 {% for game in games %}
                                     <tr>
                                         <td><a href="{{ url('viewGame',{id: game.id}) }}">{{ game.name }}</a></td>
                                     </tr>
                                 {% else %}
                                     <h2>Pas trouvé !</h2>
                                 {% endfor %}
                                 </tbody>
                             </table>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock content %}